<%= simple_nested_form_for @plasmid_batch, url: update_pb_volume_production_plasmid_batch_path, :remote => true do |f|  %>
		<%= f.error_notification %>
		<ul class="errors"></ul>
		<%= f.input :id , :as => :hidden %>
	
						<%= f.input :id , :as => :hidden %>
					<div class="row">
						<div class="col-md-4">
							Plasmid batch: <%= f.object.name %>
						</div>
						<div class="col-md-4">
							Type: <%= f.object.clone_batch.type.name %>
						</div>
						<div class="col-md-4">
							Remaining volume: <%= f.object.volume %> <%= f.object.vol_unit.name%>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-4">
							<%=f.simple_fields_for :assets do |ff| %>
									<%=ff.input :volume, :label => "Production volume:"%>							
							<%end%>
						</div>
						<div class="col-md-4">
							<%=f.simple_fields_for :assets do |ff| %>
									<%=ff.association :vol_unit, :collection => VolUnit.all, :placeholder => "Select units.", input_html: { class: 'select2-select' }, :selected => '1' %>							
							<%end%>
						</div>
					</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-group" role="group" aria-label="...">
				<%= f.submit("Save", class: "btn btn-default", title: "Save the changes.") %>
		     	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
	        </div>
	  	</div>
	</div>
<%end%>
