<%= simple_form_for [ @production,  @plasmid_batch ],url: add_to_prod_production_plasmid_batch_path(:id => @plasmid_batch.id), remote: true, :html => { :class => 'form-inline' } do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
 
  	<!--Attention: la div form-group ui-front est indispensable au fonctionnement du champ autocomplete -->
<div class="form-group ui-front col-lg-12">
	<div class="row">
		  <div class="col-lg-6 final-name">
						<%= f.input :number,
						:inline_label => "Number",
						:url => autocomplete_plasmid_batch_number_production_plasmid_batches_path,
						:as => :autocomplete,
						:placeholder => 'Type a batch number.',
						:update_elements => {:id => '[id*="_id"]'}
						%>
		  				<%= f.input :id, :label => 'id', :as => :hidden %>
		  </div>
	
	 	<div class="col-lg-6 green">
			<%= f.input :name , :inline_label => 'Name' %>
		</div>
	</div>
</div>

<small>
	
<!--PLASMID BATCH-->
	<div id="plasmidbatch">
		
		<div class="row"><div class="col-lg-12"><h5>Batch</h5></div></div>
		
		<div class="row">
			
			<div class="col-md-6">
				<strong>Created on: </strong><%=@plasmid_batch.created_at.strftime("%B %e, %Y")%> <br />
				<strong>Updated on: </strong><%=@plasmid_batch.updated_at.strftime("%B %e, %Y")%><br />
				<strong>Format: </strong><%=@format.name%><br />
			</div>
			
			<div class="col-md-6">
		  		<strong>Concentration: </strong><%=@plasmid_batch.concentration%> <%= @unit.name %><br />
		  		<strong>Location: </strong><% if @box %> 
		  										<%= @box.name%> <%= @row.name if @column %> <%=@column.name if @column %><br />
											<%else%>
												Not documented<br />
											<%end%>
				<strong>QC status :</strong> <%= formatQC(@plasmid_batch.qc_validation)%><br />
			</div>
		
		</div>
		
		<div class="row">
			
			<div class="col-md-12 ">
						<strong>Comments: </strong>
							<%= @plasmid_batch.comment ? "No comment" : content_tag(:div, content_tag(@plasmid_batch.comment  ), class: "row")%>
			</div>
		
		</div>
		
		<div class="row">
			
			<% if @plasmid_batch_attachments.length > 0 %>
				<div class="col-sm-12">
					<strong>Files: </strong>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
											<% @plasmid_batch_attachments.each do |a| %>
												<%= link_to File.basename(a.attachment.to_s), a.attachment.to_s %><br/> 
											<%end%>
											</div>
			<%else%>
				<div class="col-sm-12">
					<strong>Files: </strong>No file
				</div>
			<%end%>
				
			</div>
		</div>

		<div id="plasmid">
			
			<div class="row"><div class="col-lg-12"><h5>Plasmid</h5></div></div>
			
			<div class="row">
				
				<div class="col-md-6">
					<div class="font-success"><strong><%= @clone_batch.name %></strong></div><br />
					<strong>Strand: </strong><%= @clone_batch.strand.nil? ? "none" : @clone_batch.strand.name %><br />
					<i class="glyphicon glyphicon-calendar"></i> <strong>Date: </strong> <%= @clone_batch.date_as_plasmid.strftime("%B %e, %Y") %><br />
					<i class="glyphicon glyphicon-inbox"></i> <strong>Glycerol stock box: </strong><%= @clone_batch.glyc_stock_box_as_plasmid %><br />
				</div>
				
				<div class="col-md-6">
					<strong>Origin: </strong><%=@clone_batch.origin_as_plasmid %><br />
					<strong>Promoter: </strong><%= @clone_batch.promoters.empty? ? "none" : @clone_batch.promoters.map {|promoter| promoter.name}.to_sentence %><br />
					<strong>Gene: </strong><%= @clone_batch.genes.empty? ? "none" : @clone_batch.genes.map {|gene| gene.name}.to_sentence %><br />
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="col-md-12">
					<% if !@clone_batch.comment_as_plasmid.blank? %>
							<strong>Comments: </strong><%= @clone_batch.comment_as_plasmid %><br />
					<%end%>
				</div>
				
			</div>
			
		<div class="row">
		
			<% if @clone_batch_as_plasmid_attachments.length > 0 %>
					<div class="col-sm-12">
						<strong>Files: </strong>
					</div>
		
		</div>
		
		<div class="row">
			
					<div class="col-md-12">
												<% @clone_batch_as_plasmid_attachments.each do |a| %>
													<%= link_to File.basename(a.attachment.to_s), a.attachment.to_s %><br/> 
												<%end%>
					</div>
					<%else%>
					
					<div class="col-sm-12">
						<strong>Files: </strong>No file
					</div>
				<%end%>
		</div>
</small>		

<div class="row">
	  <div class="col-md-12 right">
 		<div class="btn-group" role="group" aria-label="...">
 		<%if !params[:id].nil?%>
    		<%= f.submit("Add to production", :class => "btn btn-default", :title => "Add this batch to production.") %>
    	<%else%>
    		<%= f.submit("Add to production", :class => "btn btn-default", :title => "Add this batch to production.", :disabled => true) %>
    	<%end%>
        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </div>
    </div>
</div>

<% end %>


