<p id="notice"><%= notice %></p>

<h1>Listing Virus Productions</h1>

<table>
  <thead>
    <tr>
      <th>Date order</th>
      <th>Date production</th>
      <th>User</th>
      <th>Plate nb</th>
      <th>Vol</th>
      <th>Sterility</th>
      <th>Plate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virus_productions.each do |virus_production| %>
      <tr>
        <td><%= virus_production.date_order %></td>
        <td><%= virus_production.date_production %></td>
        <td><%= virus_production.user_id %></td>
        <td><%= virus_production.plate_nb %></td>
        <td><%= virus_production.vol %></td>
        <td><%= virus_production.sterility %></td>
        <td><%= virus_production.plate_id %></td>
        <td><%= link_to 'Show', virus_production %></td>
        <td><%= link_to 'Edit', edit_virus_production_path(virus_production) %></td>
        <td><%= link_to 'Destroy', virus_production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virus production', new_virus_production_path %>
