<p id="notice"><%= notice %></p>

<p>
  <strong>Date order:</strong>
  <%= @virus_production.date_order %>
</p>

<p>
  <strong>Date production:</strong>
  <%= @virus_production.date_production %>
</p>

<p>
  <strong>User:</strong>
  <%= @virus_production.user_id %>
</p>

<p>
  <strong>Plate nb:</strong>
  <%= @virus_production.plate_nb %>
</p>

<p>
  <strong>Vol:</strong>
  <%= @virus_production.vol %>
</p>

<p>
  <strong>Sterility:</strong>
  <%= @virus_production.sterility %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @virus_production.plate_id %>
</p>

<%= link_to 'Edit', edit_virus_production_path(@virus_production) %> |
<%= link_to 'Back', virus_productions_path %>
