<td colspan="7">
<%= simple_nested_form_for @clone_batch, url: update_from_inventory_clone_batch_path, remote: true, html: {class: 'horizontal-form no-overflow'} do |f|  %>
	
	<%= f.error_notification %>
	<ul class="errors"></ul>
	<small>
		<%= f.input :id, :label =>"id", :as => :hidden %>
		<div class="row">
			<div class="col-lg-3">
				<%= f.input :name%>
			</div>
			<div class="col-lg-3">
				<%= f.input :temp_name%>
			</div>
			<div class="col-lg-2">
				<%= f.input :number, :input_html => { :value => f.object.number || @number}, :readonly => true%>
			</div>
			<%= f.input :clone_id, :as => :hidden%>
			<div class = "col-lg-3">
				<%=f.association :strand, :collection => @strands_all, :placeholder => "Select format.", input_html: { class: 'select2-select' }%>
			</div>
			<div class = "col-lg-2">
						<%=f.input :date_as_plasmid, :label => "Date", :as => :string, :input_html => { :value => (f.object.date_as_plasmid.strftime("%B %e, %Y") if f.object.date_as_plasmid), "data-behaviour" => "datepicker" } %>
			</div>
		</div>
		<div class="row">
			<div class = "col-lg-3">
			 		<%=f.input :origin_as_plasmid, :label => "Origin" %>
			</div>	
			<div class="col-lg-3">
				<%=f.input :glyc_stock_box_as_plasmid, :label => "Stock Glycerol box #" %>
			</div>
			<div class = "col-lg-2">
			 	<%=f.association :type, :label => "Type", :collection => @types_all, input_html: { class: 'select2-select' }%>
			</div>
			<div class = "col-lg-2">
			 	<%=f.association :target, :label => "Target", :collection => @targets_all, input_html: { class: 'select2-select' }%>
			</div>
		</div>
		<!--Add Promoter-->
		<div class="row">
			<div class="col-lg-5 well">
				<div id="promoter_container" class="col-lg-6">
				<%=f.simple_fields_for :promoters do |r|%>
					<div class="row">
						<div class = "col-lg-9 vcenter">
							<div class="form-group ui-front">
								<%= r.input :name,
									:label => "Promoter"
								%>
								<%= r.input :id, :as => :hidden %>
							</div>
						</div>
						<div class="col-lg-1 vcenter">
								<%= r.link_to_remove "X" %>	
						</div>
					</div>			
				<%end%>
								<%= f.link_to_add "Add promoter", :promoters %>
				</div>
			
		<!--Add gene-->
			<div id="gene_container" class="col-lg-5">
			<%=f.simple_fields_for :genes do |g|%>
				<div class="row">
					<div class = "col-lg-9 vcenter">
						<div class="form-group ui-front">
						<%= g.input :name,
							:label => "Gene"
						%>
						</div>
					</div>
					<div class="col-lg-1 vcenter">
							<%= g.link_to_remove "X" %>	
					</div>
				</div>			
			<%end%>
							<%= f.link_to_add "Add gene", :genes %>
			</div>
		</div>
		<div class="col-lg-1"></div>
			<div id="file_container" class="col-lg-6 well">
				<%= f.simple_fields_for :clone_batch_as_plasmid_attachments do |a| %>
					<div class="row">
						<div class="col-lg-7 vcenter">
							
							<%if a.object.attachment.present?%>
									<%= link_to File.basename(a.object.attachment.to_s), a.object.attachment.to_s%><br />
							<%else%>
								<%= File.basename(a.object.attachment.to_s) %>
						       	<%= a.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
							<%end%>

						</div>
					</div>
					<div class="row">
						<div class="col-lg-1 vcenter">
							<%= a.link_to_remove "remove", :class => "btn btn-xs btn-default" %>
						</div>
					</div>
				<% end %>
						<%= f.link_to_add "Add a file", :clone_batch_as_plasmid_attachments, :class => "btn btn-xs btn-default" %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<%=f.input :comment_as_plasmid, :label => "Comment" %>
			</div>
			<div class="col-lg-5">
				<h6>Plasmid batches</h6>
			<% if !f.object.plasmid_batches.empty? %>
				<table class="table table-bordered">
					<thead>
						<th>Batch</th>
						<th>Box</th>
						<th>Location</th>
						<th>Conc.</th>
					</thead>
					<%f.object.plasmid_batches.each do |pb|%>
					<tr>
						<td><%= pb.name %></td>
						<td><%= pb.box_id.nil? ? "unknown" : pb.box.name %></td>
						<td><%= pb.row_id.nil? ? "unknown" : pb.row.name %><%= pb.column_id.nil? ? "" : pb.column.name %></td>
						<td><%= pb.concentration.nil? ? "unknown" : "#{pb.concentration} #{pb.unit.name}" %></td>
					</tr>
					<%end%>
				</table>
			<%else%>
			no batch
			<%end%>
			</div>
		</div>
		
	</small>
	<div class="row">
	 		<div class="btn-group pull-right" role="group" aria-label="...">
	 			<div class="col-lg-4">
	    			<%= f.submit "Save", :class => "btn btn-primary btn-sm" %>
	    		</div>
	    		<div class="col-lg-4">
	        		<%= link_to "Cancel", :back, :class => "btn btn-default btn-sm", :remote => true %>
	        	</div>
	        </div>
	      </div>
	</div>

<%end%>
</td>

