<td colspan="7">
<%= simple_nested_form_for @clone_batch, url: update_pb_from_inventory_clone_batch_path, remote: true, html: {class: 'horizontal-form no-overflow'} do |f|  %>
	
	<%= f.error_notification %>
	<ul class="errors"></ul>
		<%= f.input :id, :as => :hidden %>
		<%= f.input :name, :as => :hidden %>
		<div class="row">
			<div class="col-lg-7" > <h4> Plasmid:<mark> <strong><%= f.object.name %></strong> </mark></h4></div>
			<div class="col-lg-2"><h4>Number: <mark> <strong><%= f.object.number %></strong> </mark></h4></div>
		</div>
	<small>
	<div class="row">
		
			<div class="col-lg-12">
				
				<div id="batch_container">
						
						<%=f.simple_fields_for :plasmid_batches do |b|%>
							<div class="row">
								<div class = "col-lg-12 vcenter well">
									<div class="form-group ui-front">
										<div class = "row">
												<div class="col-lg-2">
													<%= b.input :name	%>
												</div>
													<%= b.input :id, :as => :hidden %>
												<div class="col-lg-2">
													<%= b.association :format, :label => "Format", :collection => Format.all, :placeholder => "Select format.", input_html: { class: 'select2-select' }%>
												</div>
												<div class="col-lg-2">
													<%= b.input :concentration, :label => "Concentration: " %>
												</div>
												<div class="col-lg-2">
													<%= b.association :unit, :label => "Units", :collection => Unit.all, :placeholder => "Select units.", input_html: { class: 'select2-select' }%>
												</div>
												<div class="col-lg-3">
													<%= b.association :user, :label => "Contact name", :collection => User.all, :label_method => :full_name, :value_method => :id, :input_html => { class:"select2-select" } %>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-2">
													<%= b.association :box, :label => "Box# :", :collection => Box.all, :placeholder => "Select box#.", input_html: { class: 'select2-select', id: 'box' }%>
												</div>
												<div class="col-lg-2">
													<%= b.association :row, :label => "Row :", :collection => Row.all, :placeholder => "Select column.", input_html: { class: 'select2-select', id: 'row' }%>
												</div>
												<div class="col-lg-2">
													<%= b.association :column, :label => "Column :", :collection => Column.all, :placeholder => "Select row.", input_html: { class: 'select2-select', id: 'column' }%>
												</div>
												<div class="col-lg-2">
													<%= b.input :comment, :label => "Comment:" %>
												</div>
											<!---->
												<div class="col-lg-4">
													<%= b.simple_fields_for :plasmid_batch_attachments do |pba| %>
														<div class="row">
															<div class="col-lg-7">
																
																	<%if pba.object.attachment.present?%>
																		<%= link_to File.basename(pba.object.attachment.to_s), pba.object.attachment.to_s%><br />
																	<%else%>
																		<%= File.basename(pba.object.attachment.to_s) %>
																       		<%= pba.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
																    <%end%>
																    
															</div>
														</div>
														<div class="row">
									           				<div class="col-lg-1 vcenter">
																	<%= pba.link_to_remove "remove", :class => "btn btn-xs btn-default"%>
														    </div>
														</div>
													<%end%>
																<%= b.link_to_add "Add a file",:plasmid_batch_attachments,  :class => "btn btn-xs btn-default" %>
												</div>
											</div>
													
											<div class="row">
												<div class="col-lg-2">
													<%= b.link_to_remove "Remove batch", :class => "btn btn-sm btn-danger" %>
												</div>
											</div>
									</div>
								</div>
							<%end%>
						</div>
						
					
				
						<%= f.link_to_add "Add batch", :plasmid_batches, :class => "btn btn-sm btn-success" %>
					</div>
				</div>
</div>
			<!---->





	</small>
	<div class="row">
		<div class="col-lg-4">
	 		<div class="btn-group" role="group" aria-label="...">
	    		<%= f.submit "Save", :class => "btn btn-primary" %>
	        	<%= link_to "Cancel", :back, :class => "btn btn-default", :remote => true %>
	       </div>
  		</div>
	</div>
<%end%>

</td>
