<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @clone_batches.each do |cb| %>
    <li>
      <h5>
      <a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="left"
			title='
				<div class="row"> 
					<div class="col-lg-12 text-left primary">
						<strong><%=cb.name%></strong>
					</div>
				</div>'
			data-content='		
			<small>
								<i class="glyphicon glyphicon-inbox"></i> <strong>Number: </strong> <%= cb.number.nil? ? "-" : cb.number %><br />
								<i class="glyphicon glyphicon-calendar"></i> <strong>Date: </strong> <%= cb.date_as_plasmid.nil? ? "-" : cb.date_as_plasmid %><br />
								<i class="glyphicon glyphicon-inbox"></i> <strong>Glycerol stock box: </strong><%= cb.glyc_stock_box_as_plasmid.nil? ? "No data" : cb.glyc_stock_box_as_plasmid %><br />
								<i class="glyphicon glyphicon-home"></i> <strong>Origin: </strong><%= cb.origin.nil? ? "-" : cb.origin.name %><br />
								<i class="glyphicon glyphicon-inbox"></i> <strong>Type: </strong> <%= cb.type.nil? ? "-" : cb.type.name %><br />
								<i class="glyphicon glyphicon-th"></i> <strong>Number of batches: </strong> <%= cb.plasmid_batches.empty? ? "-" : cb.plasmid_batches.length %><br />
								<strong>Clone: </strong><%= cb.clone.nil? ? "-" : cb.clone.name %><br />
								<strong>Target: </strong> <%= cb.target.nil? ? "-" : cb.target.name %><br />
								<strong>Strand: </strong><%= cb.strand.nil? ? "-" : cb.strand.name %><br />
								<strong>Promoter: </strong><%= cb.promoters.nil? ? "-" : cb.promoters.uniq.map {|promoter| promoter.name}.to_sentence %><br />
								<strong>Gene: </strong><%= cb.genes.nil? ? "-" : cb.genes.uniq.map {|gene| gene.name}.to_sentence %><br />
								<% if !cb.comment_as_plasmid.blank? %>
									<strong>Comment: </strong><%= cb.comment_as_plasmid %><br />
								<%end%>
								<% unless cb.plasmid_batches.empty? %>
								<table class="table table-bordered">
									<thead>
										<th>Batch</th>
										<th>Box</th>
										<th>Location</th>
										<th>Conc.</th>
										<th>Date of production</th>
										<th>Volume</th>
									</thead>
									<%cb.plasmid_batches.each do |pb|%>
									<tr>
										<% involved = pb.productions.where('last_step < ?', 3).any?  %>
										<td><%= pb.name %></td>
										<td><%= pb.box.nil? ? "Unknown" : pb.box.name %></td>
										<td><%= pb.row.nil? ? "Unknown" : pb.row.name %><%= pb.column_id.nil? ? "" : pb.column.name %></td>
										<td><%= pb.concentration.nil? ? "Unknown" : "#{pb.concentration} #{pb.unit.name}" %></td>
										<td><%= pb.date.nil? ? "Unknown" : pb.date.strftime("%B %e, %Y") %></td>
										<td class = <%= "dismissed" if involved %>><%= pb.volume.nil? ? "Unknown":"#{pb.volume} #{pb.vol_unit.name}" %></td>
									</tr>
									<%end%>
								</table>
							<%else%>
							no batch
							<%end%>
								<div class="col-lg-12">
								<% if !cb.clone_batch_as_plasmid_attachments.empty? %>
								<% if cb.clone_batch_as_plasmid_attachments.length>1%>
									<strong>Attached files:</strong><br />
									<%else%>
									<strong>Attached file:</strong><br />
								<%end%>	
									<% cb.clone_batch_as_plasmid_attachments.each do |a|%>
										<small><%= link_to File.basename(a.attachment.path ), a.attachment.to_s %></small> <br />
									<%end%>
								<%end%>
							</div>
			</small>
			'
		>
			<span class="fa_icon fa fa-eye"></span>
	</a>
	</h5>
    </li>
  <% end %>
</ul>
