<% provide(:title, "Plasmid : Add batch(es)") %>

<div class="container well">
	<div class= "row">
		<div class="col-lg-4">
			<h4> Plasmid: <%= @clone_batch.name %> </h4>
		</div>
		<div class="col-lg-4">
			<h4>Number: <%= @clone_batch.number %> </h4>
		</div>
	</div>
</div>

<small>	
<%= simple_nested_form_for @clone_batch, url: update_pb_from_inventory_clone_batch_path, html: {class: 'horizontal-form no-overflow'} do |f|  %>
	
	<%= f.error_notification %>
	<ul class="errors"></ul>
		<%= f.input :id, :as => :hidden %>
		<%= f.input :name, :as => :hidden %>

						<%=f.simple_fields_for :plasmid_batches do |b|%>
								<div class = "panel panel-default col-lg-12 vcenter">
									<div class="panel-body">
										<div class="form-group ui-front">
											<div class = "row">
													<div class="col-lg-2">
														<%= b.input :name	%>
													</div>
														<%= b.input :id, :as => :hidden %>
													<div class="col-lg-2">
														<%= b.association :format, :label => "Format", :collection => Format.all, :placeholder => "Select format.", input_html: { class: 'select2-select' }%>
													</div>
													<div class="col-lg-2">
														<%= b.input :concentration, :label => "Concentration: " %>
													</div>
													<div class="col-lg-2">
														<%= b.association :unit, :label => "Units", :collection => Unit.all, :placeholder => "Select units.", input_html: { class: 'select2-select' }%>
													</div>
	
													<div class="col-lg-4">
														<%= b.association :user, :label => "Contact name", :collection => User.all, :label_method => :full_name, :value_method => :id, :input_html => { class:"select2-select" } %>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-2">
														<%= b.association :box, :label => "Box# :", :collection => Box.all, :placeholder => "Select box#.", input_html: { class: 'select2-select', id: 'box' }%>
													</div>
													<div class="col-lg-2">
														<%= b.association :row, :label => "Row :", :collection => Row.all, :placeholder => "Select column.", input_html: { class: 'select2-select', id: 'row' }%>
													</div>
													<div class="col-lg-2">
														<%= b.association :column, :label => "Column :", :collection => Column.all, :placeholder => "Select row.", input_html: { class: 'select2-select', id: 'column' }%>
													</div>
													<div class="col-lg-4">
														<%= b.input :comment, :label => "Comment:" %>
													</div>
												</div>
												
												<!---->
												
												<div class="row">
													<div class="col-lg-12">
														<%=f.label "Files"%>
														<%= b.simple_fields_for :plasmid_batch_attachments do |pba| %>
															<div class="row">
																<div class="col-lg-3">
																	
																		<%if pba.object.attachment.present?%>
																			<%= link_to File.basename(pba.object.attachment.to_s).truncate(25), pba.object.attachment.to_s%><br />
																		<%else%>
																			<%= File.basename(pba.object.attachment.to_s) %>
																	       		<%= pba.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
																	    <%end%>
																	    
																</div>
										           				<div class="col-lg-1 vcenter">
																		<%= pba.link_to_remove "x"%>
															    </div>
															</div>
														<%end%>
														<div class="row">
															<div class="col-lg-12">
																	<%= b.link_to_add "Add a file",:plasmid_batch_attachments,  :class => "btn btn-xs btn-default" %>
															</div>
													</div>
												</div>
											</div>
														
												<div class="row">
													<div class="col-lg-2">
														<%= b.link_to_remove "Remove", :class => "btn btn-sm btn-danger" %>
													</div>
												</div>
										</div>
									</div>
								<%end%>
							</div>
							
							<div class="row">
								<div class="col-lg-12">
									<%= f.link_to_add "Add batch", :plasmid_batches, :class => "btn btn-sm btn-success" %>
								</div>
							</div>
					</div>
	
				<!---->
		<div class="row">
		 		<div class="btn-group pull-right" role="group" aria-label="...">
		 			<div class="col-lg-4">
		    			<%= f.submit "Save", :class => "btn btn-primary" %>
		    		</div>
		    		<div class="col-lg-4">
		        		<%= link_to "Cancel", clone_batches_path, :class => "btn btn-default"%>
		        	</div>
		       </div>
		</div>
		</small>
	
<%end%>

