<% provide(:title, "Plasmid : Search") %>

<%= search_form_for @q, :url =>clone_batches_path, :class=>"form-horizontal", :remote => true do |f| %>

<div class="row">
	<div class="col-sm-6">
	<h5 class="text-primary"><em>Basic input search : </em></h5>
		<div class="form-group raw">
			<%= f.label "Name*", :class=>"control-label col-xs-4" %>
			<%= f.search_field :name_cont, :class=>"col-xs-7" %>
		</div>
		
	 	<div class="form-group row">
			<%= f.label "Clone name*",:class=>"control-label col-xs-4" %>
		  	<%= f.search_field :clone_name_cont, :class=>"col-xs-7" %>
		</div>
		
		<div class="form-group row">
		  	<%= f.label "Gene*", :class=>"control-label col-xs-4" %>
		  	<%= f.search_field :genes_name_cont, :class=>"col-xs-7" %>
	 	</div>
	 	
	 	<div class="form-group row">
		  	<%= f.label "Comment*", :class=>"control-label col-xs-4" %>
		  	<%= f.search_field :comment_cont, :class=>"col-xs-7" %>
	 	</div>
	 	
	 	<div class="form-group">
 		<span class="help-block"><em>*Enter all or part of the value.</em></span>
 		</div>
	</div>
<div class="col-sm-6">
	<h5 class="text-primary"><em>Search by ranges of date of creation : </em></h5>
		<div class="form-group" >
			
				<%= f.label "Start date ", :class=>"control-label col-xs-4" %>
				<%= f.search_field :created_at_gteq, value: @created_at_date_gteq_with_proper_format, 'data-behaviour' => 'datepicker'%>
		</div>
		
		<div class="form-group" >
				<%= f.label "End date ", :class=>"control-label col-xs-4" %>
				<%= f.search_field :created_at_lteq, value: @created_at_date_lteq_with_proper_format, 'data-behaviour' => 'datepicker'%>
		</div>
</div>
	</div>
<div class="row">	
		<div class="form-group pull-right">
			<%= f.submit class:"cancel-button btn btn-default" %>
			<%= link_to "Clear Search", clone_batches_path, class:"cancel-button btn btn-default" %>
			<%= link_to "Add plasmid", new_from_inventory_new_clone_batch_path, :remote => true, :class => "btn btn-default" %>
			<%= link_to "Switch to batch inventory", plasmid_batches_path, :class => "btn btn-default" %>
	</div>
</div>
		</div>

<% end %>

<div id="container">
	<%= render :partial => "clone_batches/clone_batch_components/index_main" %>
</div>

