<%= simple_form_for @user, :url => { :action => "update" } , remote: true do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true %>
    <%= f.input :firstname, required: true %>
    <%= f.input :lastname, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, :collection => [ "administrator", "cloning_user", "former member", "guest", "production_user", "user" ] ,required: true, :input_html => {:class => "select2-select"} %>
    <%= f.input :email, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>