<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @production.name %>
</p>

<p>
  <strong>Display:</strong>
  <%= @production.display %>
</p>

<p>
  <strong>Step:</strong>
  <%= @production.step %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @production.comment %>
</p>

<p>
  <strong>Row order:</strong>
  <%= @production.row_order %>
</p>

<%= link_to 'Edit', edit_production_path(@production) %> |
<%= link_to 'Back', productions_path %>
