<% if b.plasmid_batch_qcs.empty? %>
	<div class="center">
	<em>Add Quality Control</em>
	</div>
<%else%>
	<table class="table table-bordered">
		<thead>
			<th>QC</th>
			<th>Result</th>
		</thead>
			<% b.plasmid_batch_qcs.order(:created_at).each do |qc|%>
				<tr>
						<td>
							<a tabindex="0" data-toggle="popover" data-trigger="focus"
						title=
						'
						<div class="row"> 
							<div class="col-lg-6 text-left">
									QC: <%=qc.created_at.strftime("%h %e, %Y ")%>
							</div>
							<div class="col-lg-5 right">
								<div class="row">
									<div class="col-lg-3">									
										<%= link_to "Edit", edit_assay_clone_clone_batch_plasmid_batch_plasmid_batch_qc_path(:assay_id => @assay.id, :clone_id => clone.id, :clone_batch_id => cb.id, :plasmid_batch_id => b.id, :id => qc), :class =>"btn btn-primary btn-xs font80pc", :remote => true %>
									</div>
									<div class="col-lg-4">
										<%= link_to "Validate", set_qc_validation_assay_clone_clone_batch_plasmid_batch_qc_path( @assay, clone, cb,  qc), :class =>"btn btn-success btn-xs font80pc", :remote => true %>
									</div>
									<div class="col-lg-4">
										<%= link_to "Remove", [b,qc,:assay_id => @assay.id, :clone_id => clone.id, :clone_id => clone.id, :clone_batch_id => cb.id], :method => :delete, :class =>"btn btn-danger btn-xs font80pc", :title=>"Remove qc from list.", :remote => true %>
									</div>
								</div>	
							</div>
						'
						
						data-content='
						<small>
							<div class="col-md-12 text-left">
								<div><strong>Dig. SMA1: </strong><%=Sma1.find(qc.sma1_id).name %> <em>(<%=Type.find(cb.type_id).name = "Transgene"? "Transgene":Type.find(cb.type_id).name %>)</em></div>
								<div><strong>Dig. other: </strong><%= qc.dig_other.presence ? qc.dig_other : "no data"%></div>
								<div><strong>ITR: </strong><%=qc.itr.presence ? qc.itr : "no data" %></div>
								<div><strong>Contact:</strong> <%= qc.user.nil? ? "none" : qc.user.firstname %> <%=qc.user.nil? ? "" : qc.user.lastname %> </div>
								<%if qc.conclusion==true %>
									<div class="font-success">validated QC</div>
								<%else%>
									<div class="font-danger">Not validated QC</div>
								<%end%>
								<% if !qc.comments.blank? %>
									<strong>Comments: </strong><br /><%=qc.comments%></small><br />
								<%end%>
								<% if qc.plasmid_batch_qc_attachments.length>0 %>
									<strong>Attached files: </strong><br />
										<% qc.plasmid_batch_qc_attachments.each do |a|%>
											<%= link_to File.basename(a.attachment.to_s), a.attachment.to_s %><br />
										<%end%>
								<%end%>
							</div>
						</small>
						'
					>
						<%=qc.created_at.strftime("%h %e, %Y ")%>
					</a><br />
			</td>
			<td>
				<% if qc.conclusion == true %>
						<span class="font-success">Validated</span>
				<%else%>
						<span class="font-warning">Pending</span>
				<%end%>
			</td>
			<%end%>
			</tr>
			</div>
	</table>
												
												<%end%>
