<%= simple_nested_form_for @plasmid_batch, url: update_from_inventory_plasmid_batch_path, :remote => true,  html: {class: 'vertical-form'} do |f|  %>
	<%= f.error_notification %>
	<ul class="errors"></ul>
	<div class="container">
  <small>
	<div class="row">
				<div class="col-md-2">
							<%= f.input :name, :label => "Name: " %>
  				</div>
  				<div class="col-md-3">
							<%= f.association :format, :label => "Format", :collection => Format.all, :placeholder => "Select format.", input_html: { class: 'select2-select' } %>
  				</div>
  </div>
  <div class="row">
  	<div class="col-md-3">
  		<%= f.input :concentration, :label => "Concentration: "%>
  	</div>
  	<div class="col-md-3">
  		<%=f.association :unit, :label => "Units", :collection => Unit.all, :placeholder => "Select units.", input_html: { class: 'select2-select' }, :selected => '1'%>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<%= f.input :comment, :label => "Comment:" %>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
			<%=f.association :clone_batch, :label => "Plasmid", :collection => CloneBatch.all, input_html: { class: 'select2-select' }%>
	</div>
</div>
<div class="row">
	<h6 class="col-xs-2"><strong>Files:</strong></h6>
</div>
		<%= f.simple_fields_for :plasmid_batch_attachments do |a| %>
	
							<div class="row">
									<%= link_to File.basename(a.object.attachment.to_s), a.object.attachment.to_s %><br />
									<% if a.object.id.nil? %>
										<div class="col-xs-4">
								       		<%= a.input_field :attachment, :as => :file, :title => "Search for a file to add" %>
							       		</div>
							       	<%end%>
							 </div>
							 <div class="row">
							       	<div class="col-xs-2">
							       		<%= a.link_to_remove "remove", :class => "btn btn-xs btn-danger"%>
							       	</div>
					       	</div>
		<% end %>
		
		<div class ="row">
							<div class="col-lg-6">
								   <%= f.association :user, :label => "Contact name",
										:collection => @users, :label_method => :full_name, :value_method => :id,
										:input_html => { class:"select2-select" } %>
							</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<%= f.link_to_add "Add a file", :plasmid_batch_attachments ,:class => 'btn btn-sm btn-success' %>
			</div>
		</div>
</small>
<div class="panel-footer">
 		<div class="btn-group" role="group" aria-label="...">
    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save the changes to this clone.") %>
        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", :url => plasmid_batches_path, "data-dismiss" => "modal", "aria-hidden" => "true" %>
        </div>
</div>
<% end %>
