  <td class="center <%= dismissedOrNot(object.dismissed) %>"><%= object.nb %></td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><small><%= object.name || object.temp_name %></small></td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><% if object.clone_id.to_i>0 %>
  							<%= object.clone.name %>
  						<%else%>
  							-
  						<%end%>
  						</td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><%= object.promoters.empty? ? "N/A" : object.promoters.map {|promoter| promoter.name}.to_sentence%></td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><%= object.genes.empty? ? "N/A" : object.genes.map {|gene| gene.name}.to_sentence %></td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><%= object.plasmid_batches.length %></td>
  <td class="center <%= dismissedOrNot(object.dismissed) %>"><small><%= object.created_at.strftime("%b %e, %Y") %></small></td>
<td class="actions <%= dismissedOrNot(object.dismissed) %>">
		 
	<a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="left"
			title='
				<div class="row"> 
					<div class="col-lg-12 text-left primary">
						<strong><%=object.name%></strong>
					</div>
				</div>'
			data-content='		
			<small>
								<i class="glyphicon glyphicon-inbox"></i> <strong>Number: </strong> <%= object.number.nil? ? "No data" : object.number %><br />
								<i class="glyphicon glyphicon-calendar"></i> <strong>Date: </strong> <%= object.date_as_plasmid.nil? ? "No data" : object.date_as_plasmid.strftime("%b %e, %Y") %><br />
								<i class="glyphicon glyphicon-inbox"></i> <strong>Glycerol stock box: </strong><%= object.glyc_stock_box_as_plasmid.nil? ? "No data" : object.glyc_stock_box_as_plasmid %><br />
								<i class="glyphicon glyphicon-home"></i> <strong>Origin: </strong><%= object.origin.nil? ? "No data" : object.origin.name %><br />
								<i class="glyphicon glyphicon-inbox"></i> <strong>Type: </strong> <%= object.type.nil? ? "No data" : object.type.name %><br />
								<i class="glyphicon glyphicon-th"></i> <strong>Number of batches: </strong> <%= object.plasmid_batches.empty? ? "No data" : object.plasmid_batches.length %><br />
								<strong>Clone: </strong><%= object.clone.nil? ? "No data" : object.clone.name %><br />
								<strong>Target: </strong> <%= object.target.nil? ? "No data" : object.target.name %><br />
								<strong>Strand: </strong><%= object.strand.nil? ? "No data" : object.strand.name %><br />
								<strong>Promoter: </strong><%= object.promoters.empty? ? "No data" : object.promoters.map {|promoter| promoter.name}.to_sentence %><br />
								<strong>Gene: </strong><%= object.genes.empty? ? "No data" : object.genes.map {|gene| gene.name}.to_sentence %><br />
								<% if !object.comment_as_plasmid.blank? %>
									<strong>Comment: </strong><%= object.comment_as_plasmid %><br />
								<%end%>
								<% unless object.plasmid_batches.empty? %>
								<table class="table table-bordered">
									<thead>
										<th>Batch</th>
										<th>Box</th>
										<th>Location</th>
										<th>Conc.</th>
										<th>Date of production</th>
										<th>Volume</th>
									</thead>
									<%object.plasmid_batches.each do |pb|%>
									<tr>
										<td><%= pb.name %></td>
										<td><%= pb.box.nil? ? "Unknown" : pb.box.name %></td>
										<td><%= pb.row.nil? ? "Unknown" : pb.row.name %><%= pb.column_id.nil? ? "" : pb.column.name %></td>
										<td><%= pb.concentration.nil? ? "Unknown" : "#{pb.concentration} #{pb.unit.name}" %></td>
										<td><%= pb.date.nil? ? "Unknown" : pb.date.strftime("%B %e, %Y") %></td>
										<td><%= pb.volume.nil? ? "Unknown":"#{pb.volume} #{pb.vol_unit.name}" %></td>
									</tr>
									<%end%>
								</table>
							<%else%>
							no batch
							<%end%>
								<div class="col-lg-12">
								<% if !object.clone_batch_as_plasmid_attachments.empty? %>
								<% if object.clone_batch_as_plasmid_attachments.length>1%>
									<strong>Attached files:</strong><br />
									<%else%>
									<strong>Attached file:</strong><br />
								<%end%>	
									<% object.clone_batch_as_plasmid_attachments.each do |a|%>
										<small><%= link_to File.basename(a.attachment.to_s ), a.attachment.to_s, :target => "_blank"%></small> <br />
									<%end%>
								<%end%>
							</div>
			</small>
			'
		>
			<span class="fa_icon fa fa-eye"></span>
	</a>
	<% if can? :update_clone_batch, @clone_batch %>
	  	<%= smart_listing_item_actions [
	  	{name: :edit,    url: edit_from_inventory_clone_batch_path(object),
	  		title: "Edit"},
	  	{name: :custom,    url: add_pb_from_inventory_clone_batch_path(object),
	  		method: :get, 
  			icon: "glyphicon glyphicon-th",
  			title: "Add batches"}]%>
  			
  		<% if object.clone %>
  		
  		<%= smart_listing_item_actions [
  		{name: :custom,    url: clone_design_assay_path(:id => object.clone.assay.id),
	  		method: :get, 
  			icon: "fa fa-wrench", 
  			title: "View cloning"}
  			]%>
  		<%end%>
  	<%end%>
  	<%if can? :destroy_clone_batch, @clone_batch %>
  		<%unless object.clone %>
	  		<%= smart_listing_item_actions [
			{name: :destroy, url: destroy_from_inventory_clone_batch_path(object),
				title: "Destroy",
				confirmation: "Are you sure you want to delete this?"}]%>
		<%end%>
	<%end%>
</td>