  <div class="container-fluid">
	  <table class="table table-striped">
	    <thead>
	     
	    <th class="col-lg-1 center">
	        <%= smart_listing.sortable "Number", :number %>
	    </th>
	      
	    <th class="col-lg-2 center">
	        <%= smart_listing.sortable "Name", :name %>
	    </th>
	    
	     <th class="col-lg-1 center">
	        <%= smart_listing.sortable "Clone", :clone_id %>
	    </th>
	    
	    <th class="col-lg-1 center">
	        				 promoter(s)
	    </th>
	    
	     <th class="col-lg-1 center">
	        				 gene(s)
	    </th>
	    
	    <th class="col-lg-1 center">
	    					number of batch(es)
		</th>
	    
	    <th class="col-lg-1 center">
			<%= smart_listing.sortable "Created at:", :created_at %>
	  	</th>
	  	<th class="col-lg-1 center"></th>
	    </thead>
	    <tbody>
	    	 <% unless smart_listing.empty? %>
		  	<% smart_listing.collection.each do |s| %>
	      		<tr class="editable" data-id = "<%= s.id %>">
	          		<%= smart_listing.render object: s, partial: "clone_batches/smart_listing/clone_batch", locals: {object: s} %>
	        		</tr>
	      	<% end %>
	     <%end%>
	      	<%= smart_listing.item_new colspan: 9, link: new_from_inventory_new_clone_batch_path(:object) %>
	    </tbody>
	  </table>
	  <%= smart_listing.paginate %>
	  <%= smart_listing.pagination_per_page_links %>
	</div>
