<% unless smart_listing.empty? %>
  <table class="table table-striped">
    <thead>
    <th class="col-lg-1 center">
		<%= smart_listing.sortable "ID", :id %>
  	</th>
    <th class="col-lg-1 center">
		<%= smart_listing.sortable "Name", :name %>
  	</th>
      <th class="col-lg-2 center">
		<%= smart_listing.sortable "Date of creation", :created_at %>
  	</th>
     <th class="col-lg-1 center">
		Prod. ID
  	</th>
  	<th class="col-lg-2 center">
		Date of prod.
  	</th>
   <th class="col-lg-3 center">
    	Plasmids
    </th>
    </thead>
    <tbody>
	  	<% smart_listing.collection.each do |s| %>
      		<tr class="editable" data-id = "<%= s.id %>">
          		<%= smart_listing.render object: s, partial: "virus_productions/smart_listing/vp", locals: {object: s} %>
        	</tr>
      	<% end %>
      	<%= smart_listing.item_new colspan: 7, link: new_virus_production_path(:object) %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p>No records!</p>
<% end %>
