<% unless smart_listing.empty? %>
  <table class="table table-striped">
    <thead>
      <th class="col-md-3 center">
		<%= smart_listing.sortable "Date of creation", :created_at %>
  	</th>
    </thead>
    <tbody>
	  	<% smart_listing.collection.each do |s| %>
      		<tr class="editable" data-id = "<%= s.id %>">
          		<%= smart_listing.render object: s, partial: "virus_productions/smart_listing/vp", locals: {object: s} %>
        	</tr>
      	<% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p>No records!</p>
<% end %>
