<% if !collection.empty? %>
<table class="table table-bordered" id="plasmid-table">
			<thead>
				<th>Number</th>
				<th>Clone</th>
				<th>Actions</th>
			</thead>
				<% collection.each do |vp| %>
					<tr>
						<td class="col-sm-1 text-center"><i class="glyphicon glyphicon-barcode"></i><%= vp.id %></td>
						<td class="col-sm-5">
							<i class="glyphicon glyphicon-calendar"></i> <strong>Order (date): </strong> <%= vp.date_order.blank? ? "None" : vp.date_order.strftime("%B %e, %Y") %><br />
							<i class="glyphicon glyphicon-calendar"></i> <strong>Prodution (date): </strong> <%= vp.date_production.blank? ? "None" : vp.date_production.strftime("%B %e, %Y") %><br />
							<i class="glyphicon glyphicon-user"></i> </strong><%= vp.user_id.nil? ? "None" : vp.user.full_name %><br />
							<i class="glyphicon glyphicon-tag"></i> </strong><%= vp.invoice.nil? ? "None" : vp.invoice %><br />
							<strong>Volume: </strong><%= vp.vol.nil? ? "None" : vp.vol+" "+vp.vol_unit %><br />
							<strong>number of plates : </strong><%= vp.plate_nb.nil? ? "None" : vp.plate_nb %><br />
							<strong>Plate IDs: </strong><%= vp.plate_id.nil? ? "None" : vp.plate_id %><br />
							<strong>Titer: </strong><%= vp.titer.nil? ? "None" : vp.titer %><br />
							<strong>Titer ATCC: </strong><%= vp.titer_atcc.nil? ? "None" : vp.titer_atcc %><br />
							<strong>Titer to ATcc: </strong><%= vp.titer_to_atcc.nil? ? "None" : vp.titer_to_atcc %><br />
							<strong>Sterility: </strong><%= vp.sterility.nil? ? "None" : vp.sterility %><br />
							<strong>L2: </strong><%= vp.l2.nil? ? "None" : vp.l2 %><br />
							<strong>Gel (prot.): </strong><%= vp.gel_prot.nil? ? "None" : vp.gel_prot %><br />
							<strong>Batch end: </strong><%= vp.batch_end.nil? ? "None" : vp.batch_end %><br />
						</td>
						<td class="col-sm-1 text-center">
							<%= link_to "Remove", 
										remove_from_prod_production_path(@production, @clone_batch, :clone_batch_id =>plasmid.id, :id => plasmid.id),
										:class =>"btn btn-danger btn-xs",
										:title=>"Remove plasmid from list.",
										:confirm => "Do really want to remove this plasmid from this production?",
										:remote => true,
										:disabled => @production.locked %>
						</td>
					</tr>
				<% end %>
</table>
<% end %>
