<%= simple_nested_form_for @production, url: update_pb_volume_production_path, :remote => true do |f|  %>
		<%= f.error_notification %>
		<ul class="errors"></ul>
		<%= f.input :id , :as => :hidden %>
			
			<%= f.simple_fields_for :plasmid_batches do |ff| %>
						
						<%= ff.input :id , :as => :hidden %>
					
					<div class="row">
						<div class="col-lg-12">
							<span><strong><%= ff.object.name %></strong></span>
							<span><strong>- <%= ff.object.clone_batch.name %></strong></span>
							<span><strong>- <%= ff.object.clone_batch.type.name %></strong></span>
							<span><strong>- <%= '#{ff.object.cconcentration} #{ff.object.unit.name}' %> </strong></span>
						</div>
					</div>
						
							<%=ff.simple_fields_for :plasmid_batch_productions do |fff| %>
								<% if fff.object.production_id == @production.id%>
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-5 align-bottom">
									
										<span><%=fff.input :volume, :label => "Prod. volume (#{ff.object.vol_unit.name})"%></span>
									</div>
								</div>
								<%end%>
							
							<%end%>
			<%end%>
				
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-group" role="group" aria-label="...">
				<%= f.submit("Save", class: "btn btn-default", title: "Save the changes.") %>
		     	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
	        </div>
	  	</div>
	</div>
<%end%>
