<% unless @production.plasmid_batches.empty? %>

<table class="table table-bordered " id="plasmid-table">
			<thead>
				<th>Name</th>
				<th>Plasmid</th>
				<th>Type</th>
				<th>Current volume</th>
				<th>Production volume</th>
			</thead>
		
		<% @production.plasmid_batches.each do |pb| %>
				<tr>
					
						<td class="col-lg-1 col-md-1 col-sm-1 center" > <strong><%=pb.name%></strong></td>
						<td class="col-lg-3 col-md-3 col-sm-4 center"><%= pb.clone_batch.name %></td>
						<td class="col-lg-1 col-md-1 col-sm-2center"><%= pb.clone_batch.type.name %></td>
						<td class="col-lg-3 col-md-3 col-sm-5"><%= pb.volume%> <%= pb.vol_unit.name  %> <span class="text-danger"><%=pb.volume >= 0 ? "" : "(not enough material!)" %></span></td>
						<td class="col-lg-2 col-md-2 col-sm-4"><%= @production.plasmid_batch_productions.where(:plasmid_batch_id => pb.id)[0].volume%> <%=pb.vol_unit.name %></td>
			<%end%>
					</tr>
		
</table>
<div class="row pull-right">
	<div class="col-lg-12">
		<div class="btn-group" role="group" aria-label="...">
<%= link_to "Set production volumes", set_pb_volume_production_path(@production), :class =>"btn btn-primary btn-md", :remote => true %>
<%= link_to "Reset volumes", reset_volume_production_path(@production), :class =>"btn btn-default btn-md", :remote => true %>
</div>
</div>
								</div>

<%else%>
			<div class="row"><div class="col-lg-12"> <i class = "glyphicon glyphicon-arrow-right"></i> No plasmid batch</div></div>
<% end %>

