<% if !collection.empty? %>
<table class="table table-bordered " id="plasmid-table">
			<thead>
				<th>Name</th>
				<th>Type</th>
				<th>Plasmid</th>
				<th>Clone</th>
			</thead>
				<% collection.each do |pb| %>
					<tr>
						<td class="col-sm-2"><%= pb.name %></td>
						<td class="col-sm-3"><%= pb.clone_batch.type.nil? ? "None" : pb.clone_batch.type.name %></td>
						<td class="col-sm-4"><%= pb.clone_batch.name.nil? ? "None" : pb.clone_batch.name %></td>
						<td class="col-sm-3"><%= pb.clone_batch.clone.nil? ? "None" : pb.clone_batch.clone.name %></td>
					</tr>
				<% end %>
</table>
<%else%>
			<div class="row"><div class="col-lg-12"> <i class = "glyphicon glyphicon-arrow-right"></i> No plasmid.</div></div>
<% end %>

<% if @production.pool == true %>
	<% st = "Production from pooled plasmids." %>
<%else%>
	<% st = "The plasmids are not pooled." %>
<%end%>

<div class="row">
	<div class="col-lg-12 pull-right">
		<%=st%>
	</div>
</div>
