<% unless @production.plasmid_batches.empty? %>
<table class="table table-bordered " id="plasmid-table">
			<thead>
				<th>Name</th>
				<th>Plasmid</th>
				<th>Type</th>
				<th>Current volume</th>
				<th>Production volume</th>
			</thead>

<%= simple_nested_form_for @production, url: update_volumes_production_path do |f|%>
					
					<%= f.input :id, :as => :hidden %>
					
					<%= f.simple_fields_for :plasmid_batches do |ff| %>
					
					<tr>
						<td class="col-lg-1 col-md-1 col-sm-1"><%= ff.object.name %></td>
						<td class="col-lg-3 col-md-3 col-sm-3"><small><%= ff.object.clone_batch.name%></small></td>
						<td class="col-lg-2 col-md-2 col-sm-2"><%= ff.object.clone_batch.type.name %></td>
						<td class="col-lg-2 col-md-2 col-sm-2"><%= ff.object.volume %></td>
						<td class="col-lg-4 col-md-3 col-sm-4">
							<div class="row">
											<%= ff.input :id, :as => :hidden %>
					<%end%>		
									<%= f.simple_fields_for :plasmid_batch_productions do |fff| %>
													<div class="col-lg-8 col-md-8 col-sm-7 align-bottom">
															<%= fff.input :volume, :label => false %>
															<%= fff.input :production_id %>
															<%= fff.input :plasmid_batch_id %>
													</div>
									<%end%>				
							</div>
						</td>
					</tr>
					
						</table>
					<div class="row">
							<div class="btn-group col-lg-1 col-md-2 col-sm-2 pull-right" role="group" aria-label="...">
								<%= f.submit("Save", class: "btn btn-default", title: "Save the changes.") %>
							</div>
					</div>
				<%end%>

<%else%>
			<ul class="list-group">
				<% @production.clone_batches.each do |cb| %>
					<li class="list-group-item"><%= cb.type.name+": "+cb.number+" "+cb.name %></li>
				<%end%>
			</ul>
			<div class="row"><div class="col-lg-12"> <i class = "glyphicon glyphicon-arrow-right"></i> No plasmid batch</div></div>
<% end %>

