<%= simple_nested_form_for ([@assay, @clone, @clone_batch, @clone_batch_qc]), remote: true, html: {class: 'horizontal-form'} do |f|  %>
<%= f.error_notification %>
<ul class="errors"></ul>
<small>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-12>	
			
			<div class="row">
				<div class="col-sm-2">
					<%= f.input :id, :label => "id:", :as =>:hidden %>
					<%= f.input :primer_nb, :label => "primer#:" %>
				</div>
					   
				<div class="col-sm-3">
					<%= f.input :primer_name, :label => "primer name:" %>
				</div>
				
				<div class="col-sm-3">
					 <%= f.input :date_send, :label => "Sending date:", :as => :string, :input_html => { :value => (f.object.date_send.strftime("%B %e, %Y") if f.object.date_send), "data-behaviour" => "datepicker" } %>
				</div>
					    
				<div class="col-sm-3">
					  <%= f.input :date_rec, :label => "Date of reciept:", :as => :string, :input_html => { :value => (f.object.date_send.strftime("%B %e, %Y") if f.object.date_send), "data-behaviour" => "datepicker" } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					   <%= f.association :user, :label => "Contact name",
							:collection => @users, :label_method => :full_name, :value_method => :id,
							:input_html => { class:"select2-select-user" } %>
				</div>
			</div>
			<div class="row">   
				<div class="col-md-6">
					   <%= f.input :result, :label => "Notes:" %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
				   <strong>File</strong><br />
				     	<%= f.simple_fields_for :clone_batch_qc_attachments do |a| %>	
						<%= link_to File.basename(a.object.attachment.to_s), a.object.attachment.to_s%>
					    <%= a.input_field :attachment, :as => :file, :title => "Search for a file to add" %> 
					    <%= a.link_to_remove "remove", :class => "btn btn-xs btn-danger"%>
						<% end %>
				</div>
			</div>
				
			<div class="row">
					<div class="col-md-2">
						<%= f.link_to_add "Add a file", :clone_batch_qc_attachments ,:class => 'btn btn-sm btn-success' %>
					</div>
			</div>
			     
			<div class="row">
			     	<div class="col-md-3 col-lg-offset-8 vcenter">
		     			<%= f.input :conclusion, :label => "Is this batch valid?", :as => :select, :collection => [['yes', true], ['no', false]] %>
		     		</div>
			</div>
				</small>
			
	</div>
	<div class="panel-footer">
		 		<div class="btn-group" role="group" aria-label="...">
		    		<%= f.submit("Save", :class => "btn btn-default", :title => "Save the changes to this clone.", :remote => true) %>
		        	<%= f.submit 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true" %>
		        </div>
	</div>
        
     </div>
<%end%>




