<%= render 'components/process_pills'%>
	<div class="panel panel-primary">
		<div class="panel-heading"> Cloning: <%= @assay.name %></div>
		<div class="panel-body" <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %> >
				<div id="info-container">
						<%= render :partial => "clones/clone_components/batch_list" , :locals => {:clones => @clones, :assay=>@assay}%>
				</div>
			<div class="panel-footer row">
			    <div class="btn-group col-md-5" role="group" aria-label="...">
			    	<%= link_to 'Previous', clone_design_assay_path(@assay.id), :class => "btn btn-default btn-sm" %>
					<%= link_to 'Next', clone_batch_select_assay_path(@assay.id), :class => "btn btn-default btn-sm" %>
			  	</div>
		  	</div>
		</div>
	</div>
