	 <div class="container-fluid">
	  <table class="table table-striped">
	    <thead>
	    <th class="col-lg-2 center">
	        <%= smart_listing.sortable "Enzyme", :name %>
	    </th>
	  	<th class="col-lg-1 center"></th>
	    </thead>
	    <tbody>
	    	 <% unless smart_listing.empty? %>
		  	<% smart_listing.collection.each do |e| %>
	      		<tr class="editable" data-id = "<%= e.id %>">
					<%= smart_listing.render object: e, partial: "enzymes/enzyme", locals: {object: e} %>
				</td>
	        		</tr>
	      	<% end %>
	     <%end%>
	     <%= smart_listing.item_new colspan: 9, link: new_enzyme_path(:object) %>
	    </tbody>
	  </table>
	  <%= smart_listing.paginate %>
	  <%= smart_listing.pagination_per_page_links %>
	</div>
