<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
 	<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= include_gon(:watch => true) %>
  	<%= Gon::Base.render_data({}) %>
  	<%= render 'layouts/header' %>
  	<%= render :partial => 'components/modal_alt' %>
  	<%= render :partial => 'components/modal' %>
  	<%= render :partial => 'components/modal_pb' %>
  	<%= render :partial => 'components/modal_user' %>
    <div class="container">
    	<div id='flash-msg-container'>
			<%= render partial: "components/flash_messages", :flash => flash %>
		</div>
<% if params[:controller] == "assays"%>
<h4>Cloning manager</h4>
<%elsif params[:controller] == "productions"%>
<h4>Production manager</h4>
<%end%>

		<% if params[:controller] == "assays" || params[:controller] == "clones"%>
		<nav class="navbar-cloning" role="navigation">
    			<div class="collapse navbar-collapse navbar-cloning">
				<%= render :partial => 'components/dynamic_menu' %>
				<% provide(:title, "Cloning Manager") %>
				</nav>
				<div class="jumbotron container-fluid cloning-color" >
		<%elsif params[:controller] == "productions" %>
		<nav class="navbar-production" role="navigation">
    			<div class="collapse navbar-collapse navbar-production">
				<%= render :partial => 'components/dynamic_menu_prod' %>
				<% provide(:title, "Production Manager") %>
				</nav>
				<div class="jumbotron container-fluid production-color" >
		<%end%>
	
			<div class="spinner">
			  <div class="cube1"></div>
			  <div class="cube2"></div>
			</div>
	      <%= yield %>
	 	</div>
 	</body>
 	<div>
 		<div class="col-lg-12">
      		<%= render 'layouts/footer' %>
      	</div>
    </div>
</html>
